In [1]:
import socket

In [ ]:
#Retriving text from a web page

In [3]:
mysock = socket.socket(socket.AF_INET,socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org',80))
cmd = 'GET http://data.pr4e.org/romeo.txt HTTP/1.0\r\n\r\n'.encode()
mysock.send(cmd)

47

In [4]:
while True:
    data = mysock.recv(512)
    if len(data)<1:
        break
        
    print(data.decode(),end='')
    
mysock.close()

HTTP/1.1 200 OK
Date: Tue, 04 May 2021 08:00:07 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Sat, 13 May 2017 11:22:22 GMT
ETag: "a7-54f6609245537"
Accept-Ranges: bytes
Content-Length: 167
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: text/plain

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

In [5]:
#retriving image over http

In [6]:
import socket
import time

In [19]:
host = 'data.pr4e.org'
port = 80

mysock = socket.socket(socket.AF_INET,socket.SOCK_STREAM)
mysock.connect((host,port))

mysock.sendall(b'GET http://data.pr4e.org/cover3.jpg HTTP/1.0\r\n\r\n')

count = 0
picture = b""
while True:
    data = mysock.recv(5120)
    if len(data)<1:
        break
        
    time.sleep(0.25)
    count = count+len(data)
    print(len(data),count)
    picture = picture +data
mysock.close()

5120 5120
5120 10240
5120 15360
5120 20480
5120 25600
5120 30720
5120 35840
5120 40960
5120 46080
5120 51200
5120 56320
5120 61440
5120 66560
5120 71680
5120 76800
5120 81920
5120 87040
5120 92160
5120 97280
5120 102400
5120 107520
5120 112640
5120 117760
5120 122880
5120 128000
5120 133120
5120 138240
5120 143360
5120 148480
5120 153600
5120 158720
5120 163840
5120 168960
5120 174080
5120 179200
5120 184320
5120 189440
5120 194560
5120 199680
5120 204800
5120 209920
5120 215040
5120 220160
5120 225280
5120 230400
208 230608

In [20]:
pos = picture.find(b"\r\n\r\n")
print('Header length',pos)
print(picture[:pos].decode())

Header length 394
HTTP/1.1 200 OK
Date: Tue, 04 May 2021 08:24:32 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Mon, 15 May 2017 12:27:40 GMT
ETag: "38342-54f8f2e5b6277"
Accept-Ranges: bytes
Content-Length: 230210
Vary: Accept-Encoding
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: image/jpeg

In [21]:
picture = picture[pos+4:]
fhand = open("stuff.jpg","wb")
fhand.write(picture)
fhand.close()

In [22]:
#retriving web pages with urllib

import urllib.request

In [24]:
fhand = urllib.request.urlopen('http://data.pr4e.org/romeo.txt')

for line in fhand:
    print(line.decode().strip())

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

In [25]:
fhand = urllib.request.urlopen('http://data.pr4e.org/romeo.txt')
counts = dict()
for line in fhand:
    words = line.decode().split()
    for word in words:
        counts[word] = counts.get(word,0)+1
print(counts)

{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In [28]:
img = urllib.request.urlopen('http://data.pr4e.org/cover3.jpg').read()

fhand = open('cover3_1.jpg','wb')
fhand.write(img)
fhand.close()

In [30]:
#data is read in chunks and then stored onto disk to avoid memory overflow

img = urllib.request.urlopen('http://data.pr4e.org/cover3.jpg')

fhand = open('cover3_2.jpg','wb')
size =0

while True:
    info = img.read(100000)
    if len(info) < 1:
        break
    size = size +len(info)
    fhand.write(info)
    
print(size,'characters copied')
fhand.close()

230210 characters copied

In [36]:
#parsing html using regular expression

import urllib.request
import re

url = input("enter - ") #give url of any website

html = urllib.request.urlopen(url).read()
links=re.findall(b'href="(http//.*?)"',html)

for link in links:
    print(link.decode())

enter - http://www.dr-chuck.com/page2.htm

In [1]:
#install Beautiful soup

In [1]:
import urllib.request

In [2]:
from bs4 import BeautifulSoup

In [3]:
import ssl #secure socket layer

In [4]:
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [5]:
url = input("enter")
html = urllib.request.urlopen(url,context=ctx).read()
soup = BeautifulSoup(html,'html.parser')
tags = soup('a')

for tag in tags:
    print(tag.get('href',None))

enterhttp://www.dr-chuck.com/page1.htm
http://www.dr-chuck.com/page2.htm

In [8]:
#to extact various parts of the tag using beautifulsoup

ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
url = input("enter ")
html = urllib.request.urlopen(url,context=ctx).read()
soup = BeautifulSoup(html,'html.parser')
tags = soup('a')

for tag in tags:
    print('TAG :',tag)
    print('URL :',tag.get('href',None))
    print('Contents :',tag.contents[0])
    print('Attrs : ',tag.attrs)

enter http://www.dr-chuck.com/page1.htm
TAG : <a href="http://www.dr-chuck.com/page2.htm">
Second Page</a>
URL : http://www.dr-chuck.com/page2.htm
Contents :
Second Page
Attrs :  {'href': 'http://www.dr-chuck.com/page2.htm'}

In [10]:
# Parsing XML 

import xml.etree.ElementTree as ET

#XML code embedded in a string format

data = '''
<person>
<name>rhea</name>
<phone type = "inlt">
+1 734 303 4456
</phone>
<email hide = "yes"/>
</person>'''

In [11]:
tree = ET.fromstring(data)
print('attribute from the tag email :',tree.find('email').get('hide'))
print('attribute from the tag phone : ',tree.find('phone').get('type'))

attribute from the tag email : yes
attribute from the tag phone :  inlt

In [14]:
#Looping through nodes and parrsing XML

import xml.etree.ElementTree as ET

#XML code embedded in a string format

input = '''
<stuff> 
   <users>
      <user x ='2'> 
        <id>001</id>
        <name>Rhea</name>
      </user>
      <user x ='7'> 
        <id>002</id>
        <name>Shash</name>
      </user>
   </users>
</stuff>
'''

stuff = ET.fromstring(input)
lst = stuff.findall('users/user')
print("User count : ",len(lst))

User count :  2

In [16]:
for item in lst:
    print('Name : ',item.find('name').text)
    print('id : ',item.find('id').text)
    print('attribute : ',item.get("x"))

Name :  Rhea
id :  001
attribute :  2
Name :  Shash
id :  002
attribute :  7

In [21]:
#parsing JSON

import json

data = '''
[
 { "id" : "001",
    "x" : "2",
    "name" : "Rhea"
 
 } ,
 {
   "id" : "002",
   "x" : "7",
   "name" : "Shash"
 }
]'''

In [22]:
info = json.loads(data)
print('User Count : ',len(info))

User Count :  2

In [23]:
for item in info:
    print('name : ',item['name'])
    print('id : ',item['id'])
    print('attibute : ',item['x'])

name :  Rhea
id :  001
attibute :  2
name :  Shash
id :  002
attibute :  7

In [1]:
#Examples for SQL statements

In [3]:
import sqlite3

In [7]:
#Creating a Database Table

conn = sqlite3.connect('music.sqlite')

cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Tracks')

cur.execute('CREATE TABLE Tracks(title TEXT, plays INTEGER)')
conn.close()

In [5]:
#Creating a table, inserting two rows and deleting baased on condition 

import sqlite3


conn = sqlite3.connect('music.sqlite')

cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Tracks')

cur.execute('CREATE TABLE Tracks(title TEXT, plays INTEGER)')

cur.execute("INSERT INTO Tracks(title,plays) VALUES('Thunderstruck',20)")

cur.execute("INSERT INTO Tracks(title,plays) VALUES('My Way',15)")
#above statement can also be written as cur.execute("INSERT INTO Tracks(title,plays) VALUES(?,?)",('My Way',15))
#Can act as a placeholder wwhen taking input from the user
conn.commit()
            
print("Tracks : ")
            
cur.execute("SELECT title, plays FROM Tracks")
for row in cur:
            print(row)
            
cur.execute('DELETE FROM Tracks WHERE plays < 100')

conn.close()

Tracks :
('Thunderstruck', 20)
('My Way', 15)

In [8]:
#Error detection

import sqlite3
from sqlite3 import Error

def create_connection():
    """crate a database connection to a database that resides
    in the memory"""
    
    try:
        conn = sqlite3.connect(':memory:')
        print("SQLite Vesion:",sqlite3.version)
    except error as e:
        print(e)
    finally:
        conn.close()
create_connection

In [13]:
#Creating a student database table with student name and age

#records n users

#Displays studnets with age < 20


import sqlite3

conn = sqlite3.connect('StudentDB.db')
c = conn.cursor()

c.execute('CREATE TABLE tblstudent1(name TEXT, age INTEGER)')

n = int(input('enter the number of records : '))

for i in range(n):
    nm = input("Enter name : ")
    ag = int(input("Enter age : "))
    c.execute("INSERT INTO tblstudent1 VALUES(?,?)",(nm,ag))
    
conn.commit()

c.execute("select * from tblstudent1 ")
print(c.fetchall())

c.execute("select * from tblstudent1 where age = 20")
print(c.fetchall())

conn.close()

enter the number of records : 4
Enter name : rrheea
Enter age : 22
Enter name : shash
Enter age : 23
Enter name : dhanu
Enter age : 20
Enter name : manoj
Enter age : 19
[('rrheea', 22), ('shash', 23), ('dhanu', 20), ('manoj', 19)]
[('dhanu', 20)]

In [4]:

import sqlite3

conn = sqlite3.connect('Student2DB.db')
c = conn.cursor()

c.execute('CREATE TABLE tblstudent4(rollno INTEGER PRIMARY KEY,name TEXT, age INTEGER,sem INTEGER,address TEXT)')
c.execute('CREATE TABLE tblmarks1(rollno INTEGER,sem INTEGER,m1 REAL,m2 REAL,m3 REAL,UNIQUE(rollno,sem))')


c.execute("INSERT INTO tblstudent4 VALUES(?,?,?,?,?)",(1,'rhea',22,8,'Benagluru'))
c.execute("INSERT INTO tblstudent4 VALUES(?,?,?,?,?)",(2,'Shash',23,7,'nelamangala'))    
c.execute("INSERT INTO tblstudent4 VALUES(?,?,?,?,?)",(3,'dhanu',19,6,'jalahalli'))
c.execute("INSERT INTO tblstudent4 VALUES(?,?,?,?,?)",(4,'manoj',19,5,'indianaaga'))

c.execute("INSERT INTO tblmarks1 VALUES(?,?,?,?,?)",(1,8,34,39,40))
c.execute("INSERT INTO tblmarks1 VALUES(?,?,?,?,?)",(2,7,33,38,32))
c.execute("INSERT INTO tblmarks1 VALUES(?,?,?,?,?)",(3,6,33,34,35))
c.execute("INSERT INTO tblmarks1 VALUES(?,?,?,?,?)",(4,5,38,36,40))
                                                       
                                                       
conn.commit()

query = "SELECT tblstudent4.rollno,tblstudent4.name,tblmarks1.sem,tblmarks1.m1,tblmarks1.m2,tblmarks1.m3 FROM tblstudent4 JOIN tblmarks1 ON tblstudent4.sem = tblmarks1.sem AND tblstudent4.rollno = tblmarks1.rollno WHERE tblstudent4.sem = 8" 

c.execute(query)
for row in c:
        print(row)
                                        

conn.close()

(1, 'rhea', 8, 34.0, 39.0, 40.0)